@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	padding: 30px;
	background: rgba(153, 153, 153, 0.7);
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
/* ------------------ */

.button {
	cursor: pointer;
	color: #fff;
	max-width: 300px;
	text-transform: uppercase;
	background: #FF5722;
	text-align: center;
	padding: 18px 0px 16px 0px;
	font-weight: 700;	
	border-radius: 30px;
	line-height: 120%;
	margin: 0px 0px 50px 30px;
}

.button:hover {
	box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.8);
}

.button:active {
	background: green;
	color: #000;
}

.block__link {
	padding: 0px 0px 0px 30px;
}

.block__link a {
	color: seagreen;
}

.block__link a:focus {
	color: blue;
}

.block__link a:active {
	color: crimson;
}

.text-1 {
	padding: 30px;
}

p {
	margin: 0px 0px 15px 0px;
}

p:first-child {
	color: red;
}

p:nth-child(even) {
	color: green;
}

p:nth-child(5) {
	color: orange;
}

a {
	color: #fff;
}

p {
	margin: 0px 0px 30px 0px;
}


p.first-line::first-line {
	color: red;
	font-weight: 700;
}

p.first-letter::first-letter {
	color: orange;
	font-weight: 700;
	text-shadow: 2px 2px 4px rgb(12, 8, 0);
}


a {
	color: #000;
}

.block__title {
	padding: 0px 0px 0px 30px;
}

.block__text {
	display: none;
	margin: 0px 0px 15px 30px;
	padding: 10px;
}

.block__text:target {
	display: block;
	background: greenyellow;
}

.title__link {
	margin: 0px 0px 15px 0px;
	display: inline-block;
}

.title__link:visited {
	background: greenyellow;
}


.open {
	color: yellowgreen;
	display: inline-block;
	margin: 0px 0px 10px 0px;
}

.text {
	background-color: green;
	padding: 15px;
	display: none;
}

.text:target {
	display: block;
}

.block__button {
	padding: 0px 0px 0px 30px;
	margin: 0px 0px 30px 0px;
}

.list {
	padding: 0px 0px 0px 30px;
}

.list li {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 30px;
}

.list li::before {
	content: '';
	margin: 0px 0px 0px -30px;
	display: inline-block;
	background: url('../img/check.png') 0 0 no-repeat;
	width: 30px;
	height: 19px;
}